.layout{
  display: flex;
  height: calc(100% - 84px); /* composite for Toolbar and Header*/
  background-color: rgb(165, 165, 165);
  align-content: center;
  justify-content: center;
  padding: 10px;

}
.leftColumn {
  background-color: rgb(123, 124, 123);
  height: 50%;
  width: 35%;
  padding: 10px;
  margin: 10px;
}


.rightColumn{
  background-color: rgb(47, 117, 145);
  height: 50%;
  width: 65%;
  padding: 10px;
  margin: 10px;
}

.btnCalc{
  margin: 10px;
  height: 60px;
  width: 110px;
}

.btnMail{
  margin-left: 10px;
  height: 60px;
    width: 110px;
}
