<div class="layout" fxFlex="100%">
  <div class="leftColumn" fxFlex="30%" >
    <h1>Tools</h1>
    <mat-form-field style="width:100px">
      <input matInput  appearance="fill" [(ngModel)]="height" placeholder="Height">
    </mat-form-field>
    <br>
    <mat-form-field style="width:100px">
      <input matInput [(ngModel)]="weight" placeholder="Weight">
    </mat-form-field>
    <br>
    <div>
      <button mat-fab color="primary" class="btnCalc" (click)="btnCalculate()">Calculate: </button><br>
      <button mat-fab color="primary" class="btnMail" routerLink="../mailing">Mail: </button>
    </div>
  </div>
  <div class="rightColumn" fxFlex="70%">
    <h1>Results</h1>
    <div>
      <label>BMI: </label>
      {{calculated}}
    </div>
    <br>
    <div>
      <label *ngIf="good">Well done you are in good Shape </label>
      <label *ngIf="notGood">Oh Shit!, Dian get yourself in order brav,
        Try and Get BMI Lower than 25: </label>
    </div>
    <div>
      <button mat-icon-button (click)="btnCalculate()" color="primary" aria-label="Example icon-button with a heart icon">
        <mat-icon *ngIf="good">favorite</mat-icon>
        <mat-icon style="color:red;" *ngIf="notGood">error</mat-icon>
      </button>

    </div>
  </div>
</div>
