
<mat-drawer-container class="example-container" autosize>
  <mat-toolbar>
    <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>MENU</p>
    <p *ngIf="btnPressed">Lorem, ipsum dolor sit amet consectetur.</p>
    <a class="button" mat-raised-button routerLink="/dashboard" routerLinkActive="active-button">Dashboard</a><br>
    <a class="button" mat-raised-button routerLink="/mailing" routerLinkActive="active-button">Mailing</a>
  </mat-drawer>
  <h1>TESTING</h1>

  <router-outlet></router-outlet>
</mat-drawer-container>
